$primary-color: #e9250ff8;
$secondary-color: #0a1c32;
$footer-color: #19192a;
$secondary-gray-brandColor: #475155;

@mixin tablet {
  @media only screen and (max-width: 1024px) {
    @content;
  }
}

@mixin mobile {
  @media only screen and (max-width: 768px) {
    @content;
  }
}

// &.deneme {
//     @include mixin.tablet {
//         color: red;
//     }
// }
