@use "../../assets//Scss/mixin.scss" as mixin;

.header {
  height: 80px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  position: absolute;
  justify-content: space-between;
  align-items: center;
  inset: 0;
  z-index: 50;

  transition: 0.5s all ease;

  .headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    span {
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;

      .logoNav {
        &::after {
          display: none;
        }

        img {
          width: 120px;
        }
      }

      h4 {
        @include mixin.mobile {
          visibility: hidden !important;
        }
      }
    }

    // ----- Responsive Header Start -----

    .navBtn {
      padding: 5px;
      cursor: pointer;
      background: transparent;
      border: none;
      outline: none;
      color: #fff;
      visibility: hidden;
      display: none;
      opacity: 0;

      @include mixin.tablet {
        visibility: visible;
        display: inline;
        opacity: 1;
      }
    }

    .hideButton {
      visibility: hidden;
    }

    .navClose {
      position: absolute;
      top: 20px;
      right: 20px;
    }

    .responsiveNav {
      transform: none !important;
    }

    // ----- Responsive Header End -----

    nav {
      @include mixin.tablet {
        background-color: #322e2eea;
        position: fixed;
        height: 50%;
        width: 100%;
        inset: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 1s;
        transform: translateY(-100vh);
      }

      ul {
        display: flex;
        column-gap: 2rem;

        @include mixin.tablet {
          flex-direction: column;
          gap: 1.5rem;
        }

        li {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          position: relative;

          &::after {
            content: "";
            height: 4px;
            width: 0%;
            background: #e0e0e0;
            position: absolute;
            left: 0;
            bottom: -11px;
            transition: 0.5s;
          }

          &:hover::after {
            width: 100%;
          }

          a {
            color: #fff;
            font-weight: bold;
            font-size: 16px;
          }

          hr {
            width: 75px;
            height: 5px;
            background-color: #fff;
            border-radius: 1px;
            border: none;
            margin-top: 0.5rem;
          }
        }
      }
    }
  }
}

.headerFixed {
  position: fixed;
  background-color: mixin.$primary-color;
}
