@use "../../assets//Scss/mixin.scss" as mixin;

.footer {
    margin-top: 12rem;
    width: 100%;
    background-color: mixin.$footer-color;
    height: 280px;
    color: #fff;

    .footerContainer {
        height: 100%;
        width: 85%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;


        .hours {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            row-gap: 1rem;
            margin-bottom: 0.5rem;

            h3 {
                font-size: 16px;
                align-self: flex-start;

            }

            ul {
                li {
                    padding: 5px;
                    display: flex;
                    align-items: center;
                    font-size: 14px;

                    svg {
                        color: mixin.$primary-color;
                    }


                    span {
                        padding: 0 20px;
                    }

                }
            }
        }

        .logo {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            row-gap: 1rem;

            img {
                width: 250px;
                opacity: 60%;
                margin-bottom: 1.5rem;
                margin-right: 5px;
            }

            ul {
                display: flex;
                align-items: center;
                justify-content: center;
                column-gap: 1.5rem;


                li {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 0.8rem;
                    opacity: 90%;
                    border: 1px solid #FF5C17;
                    transition: 0.3s all ease;
                    cursor: pointer;

                    svg {
                        color: mixin.$primary-color;
                    }

                    &:hover {
                        background-color: mixin.$primary-color;
                        transform: translateY(-7px);
                        svg{
                            color: #fff;
                        }
                    }
                }


            }
        }

        .contact {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            row-gap: 0.5rem;
            margin-top: 0.8rem;


            h3 {

                font-size: 16px;
                align-self: flex-end;

            }

            ul {
                li {
                    padding: 5px;
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    font-size: 14px;

                    svg {
                        color: mixin.$primary-color;
                    }

                    span {
                        padding: 0 20px;
                    }

                }
            }
        }

    }


}