@use "../../assets//Scss/mixin.scss" as mixin;

.footer {
    margin-top: 15rem;
    width: 100%;
    background-color: #17172D;
    height: 250px;
    color: #fff;

    .footerContainer {
        height: 100%;
        width: 85%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;


        .hours {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            row-gap: 1rem;
            margin-bottom: 0.5rem;

            h3 {
                font-size: 16px;
                align-self: flex-start;

            }

            ul {
                li {
                    padding: 5px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    font-size: 14px;

                    span {
                        padding: 0 20px;
                    }

                }
            }
        }

        .logo {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            row-gap: 1rem;

            img {
                width: 250px;
                opacity: 60%;
            }

            ul {
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        .contact {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            row-gap: 1rem;


            h3 {

                font-size: 16px;
                align-self: flex-end;

            }

            ul {
                li {
                    padding: 5px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    font-size: 14px;

                    span {
                        padding: 0 20px;
                    }

                }
            }
        }

    }


}