@use "../../assets//Scss/mixin.scss" as mixin;

.header {
    background-color: mixin.$primary-color;
    height: 80px;
    position: fixed;
    inset: 0;
    z-index: 50;
}

.products {
    width: 90%;
    margin: 6rem auto -4rem auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);

    .card {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1.2rem;
        position: relative;

        .Imgbox {
            img {
                width: 250px;
                box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
                border-radius: 5px;
                border: 2px solid mixin.$primary-color ;
            }

            .icon {
                box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
                position: absolute;
                width: 50px;
                top: 0;
                left: 30px;
                padding: 0.5rem;
                border: 2px solid black;
                z-index: 10;
                background-color: mixin.$primary-color;
                opacity: 80%;
            }

        }

        .text {
            padding: 1rem;

            p {
                margin-top: 1rem;
                text-align: justify;
                font-size: 14px;

            }
        }

    }

}